<header class="header" role="banner">
    <div class="header__inner">
        <div class="header__left">
            <a href="/">matthew tole</a>
        </div>
        <div class="header__right">
            {% include "navigation.njk" %}
        </div>
    </div>
</header>