---
linkUrl: https://katherinetole.com
title: katherinetole.com
tags:
  - websites
---
<p class="mb-2">My wife is a professional voice actor, and we worked together to build her the perfect website to showcase her talent.</p>
<p>It was built using Gatsby and Bulma, and is hosted on Netlify.</p>