---
linkUrl: https://wedding.tole.family
title: wedding.kathew.us
tags:
  - websites
---

<p class="mb-2">This is the site that I built and designed for my Star Wars/Star Trek themed wedding to Katherine in June 2017.</p>
<p>It was built using Jekyll and was originally hosted on Github Pages, but is now on Netlify.</p>