.projects {
  padding: 2rem 0;
  h1 {
    text-align: center;
    background: linear-gradient(180deg, #FF5555 11.36%, #F09819 81.82%, #FFB86C 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 4rem;
    margin: 0 0 2rem;
  }

  h2 {
    font-family: $font-family-serif;
    font-weight: 600;
    margin: 2rem 0 1rem;
  }
}

.projects__gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5em;
  
  &__thumbnail {
    display: block;
    width: 25%;
    
    padding: 0.5em;
    
    a {
      display: block;
      padding-block-start: 56.25%;
      background-color: #eee;
      position: relative;

      &:hover {
        img {
          transform: scale(1.2);
          z-index: 10;
        }
      }
    }
    

    img {
      position: absolute;
      inset: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: transform 0.2s;
    }

  }

}

span[data-pun] {
  background:  #F09819;
  color: #fff;
}

.video-embed {
  width: 100%;

  > div {
    position: relative;
    padding-block-start: 56.25%;
  }

  iframe {
   position: absolute;
   inset: 0;
   width: 100%;
  height: 100%;
  object-fit: cover;
  }
}