<footer
  class="static bottom-0 flex justify-center w-full p-2 text-center bg-gray-200 pin-b"
>
  <a href="https://11ty.dev" title="Built with Eleventy"
    ><img
      src="/static/images/11ty.png"
      class="w-8 h-8 mx-2"
      alt="Eleventy logo"
      loading="lazy"
  /></a>
  <a href="https://tailwindcss.com" title="Built with Tailwind CSS"
    ><img
      src="/static/images/tailwind.png"
      class="w-8 h-8 mx-2"
      alt="Tailwind CSS logo"
      loading="lazy"
  /></a>
  <a href="https://netlfiy.com" title="Hosted on Netlify"
    ><img
      src="/static/images/netlify.png"
      class="w-8 h-8 mx-2"
      alt="Netlify logo"
      loading="lazy"
  /></a>
  <a
    href="https://github.com/matthewtole/matthewtole.com"
    title="Source code on Github"
    ><img
      src="/static/images/github.png"
      class="w-8 h-8 mx-2"
      alt="Github logo"
      loading="lazy"
  /></a>
</footer>
