<footer
  class="static bottom-0 flex justify-center w-full p-2 text-center bg-nord4 pin-b"
>
  <a
    href="https://11ty.dev"
    aria-label="Built with Eleventy"
    data-tippy-content="Built with Eleventy"
    ><img
      src="/static/images/11ty.png"
      class="w-8 h-8 mx-2"
      alt="Eleventy logo"
      loading="lazy"
  /></a>
  <a
    href="https://tailwindcss.com"
    aria-label="Built with TailwindCSS"
    data-tippy-content="Built with TailwindCSS"
    ><img
      src="/static/images/tailwind.png"
      class="w-8 h-8 mx-2"
      alt="Tailwind CSS logo"
      loading="lazy"
  /></a>
  <a
    href="https://netlfiy.com"
    aria-label="Hosted on Netlify"
    data-tippy-content="Hosted on Netlify"
    ><img
      src="/static/images/netlify.png"
      class="w-8 h-8 mx-2"
      alt="Netlify logo"
      loading="lazy"
  /></a>
  <a
    href="https://github.com/matthewtole/matthewtole.com"
    aria-label="Source code on Github"
    data-tippy-content="Source code on Github"
    ><img
      src="/static/images/github.png"
      class="w-8 h-8 mx-2"
      alt="Github logo"
      loading="lazy"
  /></a>
  <a
    href="https://www.nordtheme.com"
    aria-label="Color palette from Nord"
    data-tippy-content="Color palette from Nord"
    ><img
      src="/static/images/nord.png"
      class="w-8 h-8 mx-2"
      alt="Nord logo"
      loading="lazy"
  /></a>
</footer>
