{% import "components/modal.njk" as modal %}

<div class="flex flex-wrap justify-start max-w-6xl p-2 mx-auto">
  {% for post in instagram %}
    <a href="#" class="block w-1/2 p-2 sm:w-1/3 md:w-1/5" data-modal="instagram" data-instagram-url="/static/images/instagram/{{post.shortcode}}_640.jpg" data-instagram-caption="{{post.captionText}}" data-instagram-date="{{post.date}}">
      <div class="">
        <div class="relative group aspect-square" style="background-color: {{post.color}}; border-color: {{post.color}};">
          <img
      loading="lazy"
      alt="{{post.captionText}}"
      class="absolute top-0 left-0 object-cover w-full h-full"
      style="color: transparent"
      srcset="
        /static/images/instagram/{{post.shortcode}}_150.jpg 150w,
        /static/images/instagram/{{post.shortcode}}_250.jpg 240w,
        /static/images/instagram/{{post.shortcode}}_320.jpg 320w,
        /static/images/instagram/{{post.shortcode}}_480.jpg 480w,
        /static/images/instagram/{{post.shortcode}}_640.jpg 640w
      "
      src="/static/images/instagram/{{post.shortcode}}.jpg"
      >
        </div>
        {# <div class="flex justify-center pt-1 text-sm text-gray-600">{{post.date}}</div> #}
      </div>
    </a>
  {% endfor %}
</div>

<div class="fixed inset-0 z-50 flex items-center justify-center hidden js-modal-container" data-modal="instagram">
  <button
    class="fixed top-0 right-0 m-4 text-3xl text-white fill-current js-modal-close hover:text-cta"
  >
    {{ '/src/icons/icon-x.svg' | svgContents | safe }}
  </button>
  <div class="relative w-full bg-white rounded shadow sm:w-1/2 lg:w-1/3">

    <div class="relative rounded group aspect-square">
      <img
        loading="lazy"
        alt="{{post.captionText}}"
        class="absolute top-0 left-0 object-cover w-full h-full js-modal-image"
        style="color: transparent"
        src="/static/images/instagram/{{instagram[0].shortcode}}.jpg"
        >

      <div class="absolute bottom-0 left-0 right-0 p-2 leading-tight text-left text-white bg-black-alpha-50 ">
        <h3 class="mb-2 font-bold js-modal-date"></h3>
        <p class="text-sm js-modal-caption"></p>
      </div>
    </div>

  </div>
</div>