<div class="flex flex-wrap justify-center max-w-6xl p-2 mx-auto">
{% for post in instagram %}
  <a href="{{post.link}}" class="block w-1/2 p-2 sm:w-1/3 md:w-2/12" target="_blank">
  <div class="relative shadow group aspect-square" style="background-color: {{post.color}};">
    <img
      class="absolute top-0 left-0 object-cover w-full h-full"
      srcset="
        /static/images/instagram/{{post.shortcode}}_150.jpg 150w,
        /static/images/instagram/{{post.shortcode}}_250.jpg 240w,
        /static/images/instagram/{{post.shortcode}}_320.jpg 320w,
        /static/images/instagram/{{post.shortcode}}_480.jpg 480w,
        /static/images/instagram/{{post.shortcode}}_640.jpg 640w
      "
      src="/static/images/instagram/{{post.shortcode}}.jpg"
      >
    <div class="absolute inset-0 flex flex-col items-center justify-center text-white bg-black opacity-0 fill-current transition-opacity transition-250 group-hover:opacity-100">{{post.likes}} {{ "/src/icons/icon-heart.svg" | svgContents | safe }}</div>
  </div>
  </a>
{% endfor %}
</div>
