---
title: Projects
layout: projects
section: projects
---

<h2><a href="/projects/pebble/">Pebble</a></h2>
<p>Between 2013 and 2015 I was one of the top developers in the Pebble community, having multiple popular apps and libraries.</p>

<h2><a href="/projects/codenames/">Codenames</a></h2>
<p>I built a web based version of the popular board game, Codenames, to make it easier to play at parties with additional rules.</p>
