---
layout: layouts/page.njk
title: Articles
---

<div class="max-w-3xl px-4 mx-auto mb-4">

  <div class="flex items-center">
    <h2 class="flex-1 my-4 font-serif text-2xl">Articles</h2>
    <a href="/feed.xml" class="hover:underline">RSS feed</a>
  </div>

  {%- for post in collections.article -%}
    <h3 class="flex-1 font-serif text-xl">
      <a class="hover:underline" href="{{ post.url }}">{{ post.data.title }}</a>
    </h3>
    <p class="py-1 pl-2 my-1 leading-tight border-l-4 border-nord9">{{post.data.snippet }}</p>
  {%- endfor -%}

</div>