---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - article
permalink: /articles/tags/{{ tag }}/
layout: layouts/page
---
<div class="max-w-3xl px-4 mx-auto mb-4">

  <h2 class="my-4 font-serif text-2xl">
    <a href="/articles/" class="text-nord3 hover:underline">Articles</a>
    <span class="text-nord4">&raquo;</span>
    {{ tag }}
  </h2>

  {% set taglist = collections[tag] %}
  {% for post in taglist | reverse %}
    <h3 class="font-serif text-xl">
      <a class="hover:underline" href="{{ post.url }}">{{ post.data.title }}</a>
    </h3>
    <p class="py-1 pl-2 my-1 leading-tight border-l-4 border-nord9">{{post.data.snippet }}</p>
  {% endfor %}

</div>