{% macro close_button() %}
    <button class="absolute top-0 right-0 z-10 m-2 text-3xl text-black fill-current hover:text-nord9 js-modal-close">
        {{ '/src/icons/icon-x.svg' | svgContents | safe }}
    </button>
{% endmacro %}