{% macro close_button() %}
<button class="absolute top-0 right-0 m-2 text-black fill-current text-3xl hover:text-cta js-modal-close">
    {{ '/src/icons/icon-x.svg' | svgContents | safe }}
</button>
{% endmacro %}
