{% macro modal_header(key, title, url) %}
  <div class="relative block mb-2 shadow aspect-wide">
    <img class="absolute top-0 left-0 object-cover w-full h-full"></img>
  </div>
  <h3 class="my-2 font-serif text-xl">
    <a href="{{ url }}" class="text-nord10 hover:underline">{{ title }}</a>
  </h3>
{% endmacro %}

{% macro page_header(title) %}
  <h2 class="my-4 font-serif text-2xl">
    <a href="/projects/" class="text-nord3 hover:underline">Projects</a>
    <span class="text-nord4">&raquo;</span>
    {{ title }}
  </h2>
{% endmacro %}