---
---
<html>
<head>
  <title>Matthew Tole</title>
  <link href="//cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/wingcss/0.1.7/wing.min.css">
  <link href="//fonts.googleapis.com/css?family=Baloo+Tamma" rel="stylesheet">
  <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/app.css" rel="stylesheet" />
</head>
<body>
  <div class="hero">
    <h1>Matthew Tole</h1>
    <p>English nerd living in California</p>
    <div>
      <a href="#work" class="btn btn-outline">Work</a>
      <a href="#projects" class="btn btn-outline">Projects</a>
      <a href="#weight-loss" class="btn btn-outline">Weight Loss</a>
      <a href="#movies" class="btn btn-outline">Movies</a>
    </div>

    <div>
      <a href="https://twitter.com/matthewtole" class="btn btn-outline btn-icon" target="_blank">
        <i class="fa fa-twitter" aria-hidden="true"></i>
      </a>
      <a href="https://github.com/matthewtole" class="btn btn-outline btn-icon" target="_blank">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      <a href="https://instagram.com/matthewtole" class="btn btn-outline btn-icon" target="_blank">
        <i class="fa fa-instagram" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-12" id="work">
          <h2>Work</h2>
          <p>
            I am a software engineer for <a href="https://pebble.com" target="_blank">Pebble Technology</a>.
            My primary focus is on our brand new data pipeline, as well as maintaining and
            supporting the <a href="https://apps.getpebble.com" target="_blank">appstore</a>,
            <a href="https://dev-portal.getpebble.com" target="_blank">developer portal</a> and
            <a href="https://developer.pebble.com" target="_blank">developer website</a>.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12" id="projects">
          <h2>Projects</h2>
          <p>In my spare time I work on personal software projects.</p>
          <h3 id="pebble-apps">Pebble Apps</h3>
          <div class="row app-list">
            <div class="col-3">
              <a href="https://github.com/smallstoneapps/multi-timer" class="app-label" target="_blank">
                <img src="https://raw.githubusercontent.com/smallstoneapps/multi-timer/master/marketing/screenshots/3.0/multi-timer_3.0_01.png" alt="">
              </a>
              <a href="https://github.com/smallstoneapps/multi-timer" class="app-label" target="_blank">Multi Timer</a>
            </div>
            <div class="col-3">
              <a href="https://github.com/smallstoneapps/uk-transport" class="app-label" target="_blank">
                <img src="https://raw.githubusercontent.com/smallstoneapps/uk-transport/master/marketing/screenshots/uk-transport_0-3-0_01.png" alt="">
              </a>
              <a href="https://github.com/smallstoneapps/uk-transport" class="app-label" target="_blank">UK Transport</a>
            </div>
            <div class="col-3">
              <a href="https://github.com/smallstoneapps/hearts" class="app-label" target="_blank">
                <img src="https://raw.githubusercontent.com/smallstoneapps/hearts/master/store/4.0/screenshot_basalt_01.png" alt="">
              </a>
              <a href="https://github.com/smallstoneapps/hearts" class="app-label" target="_blank">Hearts</a>
            </div>
            <div class="col-3">
              <a href="https://github.com/finebyte/slabforpebble" class="app-label" target="_blank">
                <img src="https://assets.getpebble.com/api/file/Q4fVme3XQXGIz3KcMXoR/convert?cache=true&fit=crop&w=144&h=168" alt="">
              </a>
              <a href="https://github.com/finebyte/slabforpebble" class="app-label" target="_blank">Slab</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12" id="weight-loss">
          <h2>Weight Loss</h2>
          <p>
            In late 2015 I decided to finally take control of my weight and fitness and began to work towards having a more health body.
          </p>
          <p>
            I use <a href="https://www.myfitnesspal.com/profile/matthew_tole/" target="_blank">MyFitnessPal</a> to log all of my foods, with my <strike>housemate</strike> <strike>girlfriend</strike> fiance Kat as an accountability partner. I also work out 3 times a week with my personal trainer Daniel.
          </p>
          <div class="progress">
            {% assign last_weight = site.data.weight | last %}
            {% assign current_loss = 125.19 | minus: last_weight.weight  %}
            {% assign weight_progress = current_loss | divided_by: 45.19 | times: 100 | floor %}
            <div class="progress__bar" style="width: {{ weight_progress }}%">{{ weight_progress }}%</div>
          </div>
          <h3 id="weight-loss-chart">Chart</h3>
          <div style="height: 500px;">
            <canvas id="weightloss__chart"></canvas>
          </div>
          <h3>Progress Photos</h3>
          <div class="row">
            <div class="col-6">
              <img src="{{ site.baseurl }}/images/weightloss-mendocino.jpg" alt="Weightloss from Mendocino">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12" id="movies">
        <h2>Movies</h2>
        <p>In 2016 I challenged myself to watch <strong>100</strong> movies. As of {{ site.time | date: "%B %-d" }}, I have watched <strong>{{ site.data.movies.movies_2016.size }}</strong> movies.</p>
        <div class="movie-list">
          <div class="row">
            {% for movie in site.data.movies.movies_2016 %}
              <div class="col-2">
                <a href="https://www.imdb.com/title/{{ movie.imdb }}" title="{{ movie.title }}" target="_blank">
                  <img src="{{ movie.poster }}" alt="{{ movie.title }}" class="movie__poster {% if movie.repeat %}movie__poster--repeat{% endif %}">
                </a>
              </div>
            {% assign mod_index = forloop.index | modulo:6 %}
            {% if mod_index == 0 %}
          </div>
          <div class="row">
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
  <script src="{{ site.baseurl }}/js/weight.js"></script>
  <script src="{{ site.baseurl }}/js/index.js"></script>
</body>
</html>

