<% wrap_layout :layout do %>
<%= partial "menu" %>
<div class="blog__article">
    <h1><%= current_page.data.title %></h1>
    <%= yield %>
</div>
<div class="blog__comments">
    COMMENTS
</div>
<% end %>
