<% wrap_layout :layout do %>
<section class="bg-secondary height-small">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"><%= current_page.data.title %></h2>
                <% if current_page.data.subtitle %>
                <hr class="light">
                <h3><em><%= current_page.data.subtitle %></em></h3>
                <% end %>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <%= yield %>
        </div>
    </div>
</div>
<% end %>
