---
title:  Brexit in 30 puns
layout: puns
permalink: /puns/brexit/
---
<p>
    A couple of weeks ago, the UK held a referendum on whether or not to leave the
    European Union. On June 23rd, over 30 million people took a
    <span class="pun__explanation" data-tooltip title="Poland">poll and</span> at the end
    of the day, it was time to
    <span class="pun__explanation" data-tooltip title="Czech Republic">check the public</span> vote,
    <span class="pun__explanation" data-tooltip title="Italy">'e tally</span> up the ballots and
    “leave” had 52% of the vote.
    After the results came in, the UK stock market, at
    the sound of the <span class="pun__explanation" data-tooltip title="Belgium">bell, jump</span>ed
    the shark a little bit, it took a hell of a
    <span class="pun__explanation" data-tooltip title="Pound">pound</span>ing.
</p>
<p>
    I was shocked, watching all of the TV pundits speculate about how this could
    happen; from their cozy studios in London they couldn’t make any sense out of it.
    Mean<span class="pun__explanation" data-tooltip title="Wales">wales</span>, up in the
    north of England,  the BBC was interviewing a woman in  Liverpool.
    She said "there's absolutely
    <span class="pun__explanation" data-tooltip title="Norway">norr way</span> that
    we're staying in the EU" which was a pretty common sentiment despite the fact
    that many people up there don't have jobs and are going
    <span class="pun__explanation" data-tooltip title="Hungary">hungry</span>.
    I think a lot of them see the EU as this huge
    mono<span class="pun__explanation" data-tooltip title="Lithuania">lith. “You ain’ ‘ere</span>
    to see how bad it is” one man was reported to have said, “we all feel very
    cl<span class="pun__explanation" data-tooltip title="Austria">austria</span>phobic up ‘ere”.
</p>
<p>
    I didn’t actually vote, but maybe I should have, it
    <span class="pun__explanation" data-tooltip title="Malta">malta</span> made a difference,
    although probably not. It's really easy to vote remotely, you just fill out an
    online application to vote by post, get the ballot in the mail and
    <span class="pun__explanation" data-tooltip title="Denmark">den mark</span> whichever box you want.
</p>
<p>
    So, Britain is leaving the EU. Almost every expert is telling
    u<span class="pun__explanation" data-tooltip title="Sweden">s we done</span> fucked up,
    it's gonna be a humongou<span class="pun__explanation" data-tooltip title="Spain">s pain</span>
    in the ass, and that there are probably  some
    <span class="pun__explanation" data-tooltip title="Estonia">uh, stone, uh</span>, times ahead.
    Many people were upset about the result, and a lot of
    <span class="pun__explanation" data-tooltip title="Ireland">ire land</span>ed at the feet of the politicians.
</p>
<p>
    I was reading about all of this on my phone while walking from work to my
    f<span class="pun__explanation" data-tooltip title="Latvia">lat via</span> McDonalds to
    grab some dinner.
    As I was crossing the street, a
    dol<span class="pun__explanation" data-tooltip title="Finland">phin land</span>ed on my head
    which was weird. A dolphin
    <span class="pun__explanation" data-tooltip title="Netherlands">nether lands</span> on my
    head normally. Must be a sign of the end times.
    I can tell that some of you are judging me for going to McDonalds when there are
    so many better options out there.
    <span class="pun__explanation" data-tooltip title="Luxembourg">Look, some burg</span>ers are
    better than others, no argument there, but sometimes you just want something
    quick and simple with just the right amount of
    <span class="pun__explanation" data-tooltip title="Greece">grease</span>.
    Plus I was really hungry because this big black bird stole my sandwich earlier.
    You know it’s going to be a rough day when a
    <span class="pun__explanation" data-tooltip title="Croatia">crow ate ya</span> lunch.
</p>
<p>
    My friend Chew (his real name is Gary, but we call him Chew on account of how
    he’s really big and hairy like a wookie), he actually voted <em>for</em> Brexit.
    I've spoken to him a few times since then and he feels totally mislead by the
    claims of the exit campaign.
    <span class="pun__explanation" data-tooltip title="Portugal">Poor Chew, gull</span>ible as always.
    I called him up last night and all he did was
    <span class="pun__explanation" data-tooltip title="Cyprus">sigh, prus</span>trated with how it
    all turned out. I sais to him,
    "<span class="pun__explanation" data-tooltip title="UK">You 'kay</span> buddy?" He said he was
    considering moving to Iran. “Why Iran?” I asked. “It’s always seemed a horrible
    place to live, you’ll be in
    dan<span class="pun__explanation" data-tooltip title="Germany">ger many</span>, many times a day!”
    He replied, “It'<span class="pun__explanation" data-tooltip title="Scotland">s got land</span>,
    so I can finally raise goats like I’ve always wanted and I can
    <span class="pun__explanation" data-tooltip title="Romania">remain near</span> my family.”
    When it comes to actually following through on things, he’s pretty
    terri<span class="pun__explanation" data-tooltip title="Bulgaria">ble, Gary, uh</span>
    he always talks big but never does anything.
</p>
<p>
    So, I'm going to miss being part of the EU, it’s been a fun ride.
    So as the dolphin that landed on me might say,
    <span class="pun__explanation" data-tooltip title="France">france</span> for all the memories!
</p>
<h2>Original Performance</h2>
<p>This video was recorded by my housemate at Bay Area Pun-Off 6 on July 8th, 2016.</p>
<iframe width="700" height="395" src="https://www.youtube.com/embed/a47URXuLtao" frameborder="0" allowfullscreen></iframe>
