---
title:  Engl/ish/
subtitle: The Problem With Loving An American
layout: puns
permalink: /puns/english/
---

<p>
    I love my wife dearly, and we generally communicate very well, but sometimes it
    feels like we’re speaking different languages. People from America claim that they
    speak English, but in reality they speak Engl*ish*.
</p>

<p>
    I have this huge <span class="pun__explanation" data-tooltip title="Chip">chip</span>
    on my shoulder about your word for crisps, and your word for chips really
    <span class="pun__explanation" data-tooltip title="Fry">fri</span>ghtens me.
    I do find it pretty <span class="pun__explanation" data-tooltip title="Cookie">kooky</span>
    that you have a different word for a biscuit, but whenever I have to say the
    American word for aubergine it feels like I have had a large
    <span class="pun__explanation" data-tooltip title="Eggplant">egg plant</span>ed
    in my mouth. Just the other day I almost got
    em<span class="pun__explanation" data-tooltip title="Broil">broil</span>ed
    in an argument about the proper term for grilling food.
</p>
<span>
    Last week I was sitting in the
    <span class="pun__explanation" data-tooltip title="Caramel">car, mel</span>ting
    with frustration at how you pronounce caramel, and I started getting all
    <span class="pun__explanation" data-tooltip title="Sweater">sweater</span>y over
    your word for a jumper. It got so bad I even got a
    hea<span class="pun__explanation" data-tooltip title="Trash">t rash</span> because
    of what you call your rubbish, so I had to go
    out<span class="pun__explanation" data-tooltip title="Sidewalk">side, walk</span>
    around on the pavement.
</p>
<p>
    I was starting to feel better until I came to a pedestrian crossing and then I
    remembered that you have a different name for that too! So there I was, feeling
    <span class="pun__explanation" data-tooltip title="Crosswalk">cross, walk</span>ing
    across the road when I felt really exhausted.
    So I stopped, put my hands on my trousers and I just started
    <span class="pun__explanation" data-tooltip title="Pants">pants</span>ing for breath.
</p>
<p>
    Most of the time it doesn’t actually bother me, but to be honest I have to
    get <span class="pun__explanation" data-tooltip title="Highway">high way</span>
    too often when I think about what you call a motorway,
    hearing your word for the boot of car always make me feel like I need to get
    <span class="pun__explanation" data-tooltip title="Drunk">trunk</span>,
    remembering the American word for petrol always makes me
    <span class="pun__explanation" data-tooltip title="Gas">gas</span>p,
    and don’t even get me started on what you call a lorry, that’s just
    <span class="pun__explanation" data-tooltip title="Truck">truck</span>ing stupid.
</p>
<p>
    I find it <span class="pun__explanation" data-tooltip title="Mom">mom</span>strous
    how you guys refer to your mothers.
</p>
<p>
    I have to <span class="pun__explanation" data-tooltip title="Suspenders">suspenders</span>
    my disbelief about what you call braces.
</p>
<p>
    Hearing the American word for a flat makes me feel like I’ve been cast in play,
    given <span class="pun__explanation" data-tooltip title="Apartment">a part meant</span> for someone else.
</p>
<p>
    If I have to hear one more American person use the wrong word for football
    I’m going to climb up the Statue of Liberty and
    <span class="pun__explanation" data-tooltip title="Soccer">sock her in the mouth.</span>
</p>
<p>
    Usually it feels like the distance between our languages is only an inch,
    but your word for garden makes it feel more like we’re
    <span class="pun__explanation" data-tooltip title="Yard">yard</span>s apart.
</p>
<p>
    But it’s not just that you have different words for things, I’ve lived here for
    over a year and I still can’t
    figu<span class="pun__explanation" data-tooltip title="Route">re out</span> why
    you pronounce route so wrong. It’s also hard to
    <span class="pun__explanation" data-tooltip title="Z">zee</span> why you can’t
    say the last letter of the alphabet properly.
</p>
<p>
    And the worst thing of all is how you simply just take the letter U out of so
    many words. There’s no U in colour, honour, favour, humour, labour or neighbour.
    But honey, I promise I will always put the U in I love you.
</p>

<h2>Original Performance</h2>
<p>This video was recorded by my wife at the Bay Area Pun-Off on February 10th, 2017.</p>
<div class='embed-container'><iframe src='https://www.youtube.com/embed/eAv2Eqv6hOo' frameborder='0' allowfullscreen></iframe></div>

