---
title: Puns
layout: puns
subtitle: "I love puns. Sometimes I love them enough to take part in competitions. Here are some of my prepared pun pieces."
section: puns
---

<h2>
    <a href="/puns/brexit/">Brexit in 30 Puns</a>
    <small>&mdash; July 2016</small>
</h2>

<h2>
    <a href="/puns/english/">Engl<em>ish</em></a>
    <small>&mdash; February 2017</small>
</h2>
