---
title: Puns
layout: puns
---
<p>I love puns. Sometimes I love them enough to take part in competitions. Here are some of my prepared pun pieces.</p>

<h2 class="header-pair"><a href="/puns/brexit/">Brexit in 30 Puns</a></h2>
<h3 class="header-pair">July 2016</h3>

<!--
<h2><a href="/puns/english/">Engl<em>ish</em></a></h2>
<h3>February 2017</h3>
-->
