---
layout: layouts/page.njk
---
<div class="px-4 py-8 my-8 text-center">
  <h2 class="font-serif text-5xl text-nord3">{{title}}</h2>
</div>
<div class="max-w-4xl px-4 mx-auto">
  <article class="mb-8">
    {{content | safe}}
  </article>

</div>