<!doctype html>

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8">
    <title>Matthew Tole{{ " » " if title else "" }}{{ title }}</title>
    <meta name="description" content="English software developer based in Seattle.">
    <meta name="author" content="Matthew Tole">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat:400,600&display=swap" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather|Montserrat:400,600&display=swap" rel="stylesheet" media="print" onload="this.media='all'">
    <link rel="alternate" type="application/rss+xml" title="RSS feed" href="/feed.xml"/>
    {% include 'favicon.njk' %}
  </head>
  <body class="flex flex-col h-full font-sans text-nord0">
    <div class="flex-1">
      {{content | safe}}
    </div>
    <div class="fixed inset-0 z-40 hidden bg-black-alpha-75 js-modal-overlay"></div>
    {% include "footer.html" %}
    {% set js %}
    {% include "js/disable-scroll.js" %}
    {% include "js/menu.js" %}
    {% include "js/modal.js" %}
    {% endset %}
    <script>
      {{ js | jsmin | safe }}
    </script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://unpkg.com/tippy.js@6"></script>
    <script>
      tippy('[data-tippy-content]');
      tippy('[data-pun]', {
        content: (reference) => reference.getAttribute('data-pun'),
        arrow: false,
        placement: 'bottom',
        duration: 0,
        offset: [0, 2]
      });
    </script>
  </body>
</html>
