<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Matthew Tole{{ " » " if title else "" }}{{ title }}</title>
  <meta name="description" content="English software developer based in Seattle.">
  <meta name="author" content="Matthew Tole">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Merriweather|Prata&display=swap" rel="stylesheet">
  {% include 'favicon.njk' %}
</head>
<body class="font-sans">
  {{content | safe}}
  {% set js %}
    {% include "js/disable-scroll.js" %}
    {% include "js/menu.js" %}
    {% include "js/modal.js" %}
  {% endset %}
  <script>{{ js | jsmin | safe }}</script>
</body>
</html>
