---
layout: layouts/base.njk
---

{% import "components/buttons.njk" as buttons %}

<header class="sticky top-0 z-20 bg-nord4">
  <div class="flex items-center p-2">
    <h1 class="ml-4 font-serif text-4xl">
      <a href="/" class="transition-all duration-200 hover:text-nord10">matthew tole</a>
    </h1>
    <div class="flex-grow"></div>
    <div class="flex md:hidden">
      {{ buttons.cta_icon("menu", "#", "", "btn-mobile-menu") }}
    </div>
    <div class="hidden md:flex">
      {{ buttons.cta_icon("home", "/", "mx-2") }}
      {{ buttons.cta("RESUME", "/resume/", "mx-2") }}
      {{ buttons.cta("PROJECTS", "/projects/", "mx-2") }}
    </div>
  </div>
  <ul class="absolute left-0 right-0 z-50 hidden shadow-lg bg-nord3" id="mobile-menu">
    <li>
      <a class="block px-4 py-2 border-t border-white hover:bg-nord2 active:bg-nord2 focus:bg-nord2" href="/">Home</a>
    </li>
    <li>
      <a class="block px-4 py-2 border-t border-white hover:bg-nord2 active:bg-nord2 focus:bg-nord2" href="/resume/">Resume</a>
    </li>
    <li>
      <a class="block px-4 py-2 border-t border-white hover:bg-nord2 active:bg-nord2 focus:bg-nord2" href="/projects/">Projects</a>
    </li>
  </ul>
</header>

{{content | safe}}