---
layout: layouts/base.njk
---

{% import "components/buttons.njk" as buttons %}

<header class="bg-brand text-white p-2">
   <div class="flex items-center">
   <h1 class="text-4xl font-serif ml-4">matthew tole</h1>
   <div class="flex-grow"></div>
   {{ buttons.cta("HOME", "/", "mx-2") }}
   {{ buttons.cta("RESUME", "/resume/", "mx-2") }}
   {{ buttons.cta("PROJECTS", "/projects/", "mx-2") }}
  </div>
</header>

{{content | safe}}
