---
linkUrl: https://catandjoe.matthewtole.com
title: catandjoe.wedding
tags:
  - websites
---

<p class="mb-2">When my best friend asked me how she should make the website for her wedding, I told her I would be delighted to make it for her.</p>
<p>She has a strong design sense, and we collaborated on bringing the color scheme and her hand painted images from the wedding invites, into a single page site that served as the RSVP and FAQ for her big day.</p>