---
linkUrl: https://lushmouthfeel.com
title: lushmouthfeel.com
tags:
  - websites
---
<p class="mb-2">While wine tasting in Eastern Washington, a tipsy joke among friends turned into an idea for a website.</p>
<p>I built the first prototype in 30 minutes using my <a href="https://github.com/matthewtole/eleventy-tailwind-starter" class="text-nord9 hover:underline">Eleventy + Tailwind starter repository</a>, and I am excited to extend it further with better text generation.</p>