---
linkUrl: https://matthewtole.com
title: matthewtole.com
tags:
  - websites
---

<p class="mb-2">When I discovered <a href="https://tailwincss.com" class="text-nord9 hover:underline">Tailwind</a>, I fell in love with the idea, and wanted to redesign my personal website.</p>
<p class="mb-2">I generated a color scheme for myself, and rebuilt the site from scratch, with a strong focus on responsive design, as well as keeping the site as lightweight as possible.</p>
<p>The site is built using <a href="https://11ty.io" class="text-nord9 hover:underline">Eleventy</a>, based on my <a href="https://github.com/matthewtole/eleventy-tailwind-starter" class="text-nord9 hover:underline">personal template</a>, and is hosted on <a href="https://netlify.com" class="text-nord9 hover:underline">Netlify</a>.</p>