---
layout: base
title: Puns
permalink: /projects/puns/
---

<div class="projects">
  <h1>Puns</h2>

  <article class="container">

    <p class="lead">
      I love puns. Sometimes I love them enough to take part in competitions. Here
      are some of my prepared pun pieces.
    </p>

    <h2>Brexit in 30 Puns</h2>

    <p>
    A couple of weeks ago, the UK held a referendum on whether or not to leave
    the European Union. On June 23rd, over 30 million people took a
    <span data-pun="Poland">poll and</span>
    at the end of the day, it was time to
    <span data-pun="Czech Republic"
      >check the public</span
    >
    vote,
    <span data-pun="Italy">'e tally</span>
    up the ballots and “leave” had 52% of the vote. After the results came in,
    the UK stock market, at the sound of the
    <span data-pun="Belgium"
      >bell, jump</span
    >ed the shark a little bit, it took a hell of a
    <span data-pun="Pound">pound</span>ing.
  </p>
    <p>
    I was shocked, watching all of the TV pundits speculate about how this could
    happen; from their cozy studios in London they couldn’t make any sense out
    of it. Mean<span data-pun="Wales"
      >wales</span
    >, up in the north of England, the BBC was interviewing a woman in
    Liverpool. She said "there's absolutely
    <span data-pun="Norway">norr way</span>
    that we're staying in the EU" which was a pretty common sentiment despite
    the fact that many people up there don't have jobs and are going
    <span data-pun="Hungary">hungry</span>.
    I think a lot of them see the EU as this huge mono<span

      data-pun="Lithuania"
      >lith. “You ain’ ‘ere</span
    >
    to see how bad it is” one man was reported to have said, “we all feel very
    cl<span data-pun="Austria"
      >austria</span
    >phobic up ‘ere”.
  </p>
    <p >
    I didn’t actually vote, but maybe I should have, it
    <span data-pun="Malta">malta</span>
    made a difference, although probably not. It's really easy to vote remotely,
    you just fill out an online application to vote by post, get the ballot in
    the mail and
    <span data-pun="Denmark"
      >den mark</span
    >
    whichever box you want.
  </p>
    <p>
    So, Britain is leaving the EU. Almost every expert is telling u<span

      data-pun="Sweden"
      >s we done</span
    >
    fucked up, it's gonna be a humongou<span

      data-pun="Spain"
      >s pain</span
    >
    in the ass, and that there are probably some
    <span data-pun="Estonia"
      >uh, stone, uh</span
    >, times ahead. Many people were upset about the result, and a lot of
    <span data-pun="Ireland">ire land</span
    >ed at the feet of the politicians.
  </p>
    <p>
    I was reading about all of this on my phone while walking from work to my
    f<span data-pun="Latvia">lat via</span>
    McDonalds to grab some dinner. As I was crossing the street, a dol<span

      data-pun="Finland"
      >phin land</span
    >ed on my head which was weird. A dolphin
    <span data-pun="Netherlands"
      >nether lands</span
    >
    on my head normally. Must be a sign of the end times. I can tell that some
    of you are judging me for going to McDonalds when there are so many better
    options out there.
    <span data-pun="Luxembourg"
      >Look, some burg</span
    >ers are better than others, no argument there, but sometimes you just want
    something quick and simple with just the right amount of
    <span data-pun="Greece">grease</span>.
    Plus I was really hungry because this big black bird stole my sandwich
    earlier. You know it’s going to be a rough day when a
    <span data-pun="Croatia"
      >crow ate ya</span
    >
    lunch.
  </p>
    <p>
    My friend Chew (his real name is Gary, but we call him Chew on account of
    how he’s really big and hairy like a wookie), he actually voted
    <em>for</em> Brexit. I've spoken to him a few times since then and he feels
    totally mislead by the claims of the exit campaign.
    <span data-pun="Portugal"
      >Poor Chew, gull</span
    >ible as always. I called him up last night and all he did was
    <span data-pun="Cyprus"
      >sigh, prus</span
    >trated with how it all turned out. I sais to him, "<span

      data-pun="UK"
      >You 'kay</span
    >
    buddy?" He said he was considering moving to Iran. “Why Iran?” I asked.
    “It’s always seemed a horrible place to live, you’ll be in dan<span

      data-pun="Germany"
      >ger many</span
    >, many times a day!” He replied, “It'<span

      data-pun="Scotland"
      >s got land</span
    >, so I can finally raise goats like I’ve always wanted and I can
    <span data-pun="Romania"
      >remain near</span
    >
    my family.” When it comes to actually following through on things, he’s
    pretty terri<span data-pun="Bulgaria"
      >ble, Gary, uh</span
    >
    he always talks big but never does anything.
  </p>
    <p>
    So, I'm going to miss being part of the EU, it’s been a fun ride. So as the
    dolphin that landed on me might say,
    <span data-pun="France">france</span>
    for all the memories!
  </p>

    <div class="my-8 border-2 border-nord3"></div>

    <h3>The Problem With Loving An American</h3>

    <p>
    I love my wife dearly, and we generally communicate very well, but sometimes it
    feels like we’re speaking different languages. People from America claim that they
    speak English, but in reality they speak Engl/ish/.
</p>

    <p>
    I have this huge <span data-pun="Chip">chip</span>
    on my shoulder about your word for crisps, and your word for chips really
    <span data-pun="Fry">fri</span>ghtens me.
    I do find it pretty <span data-pun="Cookie">kooky</span>
    that you have a different word for a biscuit, but whenever I have to say the
    American word for aubergine it feels like I have had a large
    <span data-pun="Eggplant">egg plant</span>ed
    in my mouth. Just the other day I almost got
    em<span data-pun="Broil">broil</span>ed
    in an argument about the proper term for grilling food.
    <p>
        <span>
    Last week I was sitting in the
    <span data-pun="Caramel">car, mel</span>ting
    with frustration at how you pronounce caramel, and I started getting all
    <span data-pun="Sweater">sweater</span>y over
    your word for a jumper. It got so bad I even got a
    hea<span data-pun="Trash">t rash</span> because
    of what you call your rubbish, so I had to go
    out<span data-pun="Sidewalk">side, walk</span>
    around on the pavement.
</p>
        <p>
    I was starting to feel better until I came to a pedestrian crossing and then I
    remembered that you have a different name for that too! So there I was, feeling
    <span data-pun="Crosswalk">cross, walk</span>ing
    across the road when I felt really exhausted.
    So I stopped, put my hands on my trousers and I just started
    <span data-pun="Pants">pants</span>ing for breath.
</p>
        <p>
    Most of the time it doesn’t actually bother me, but to be honest I have to
    get <span data-pun="Highway">high way</span>
    too often when I think about what you call a motorway,
    hearing your word for the boot of car always make me feel like I need to get
    <span data-pun="Drunk">trunk</span>,
    remembering the American word for petrol always makes me
    <span data-pun="Gas">gas</span>p,
    and don’t even get me started on what you call a lorry, that’s just
    <span data-pun="Truck">truck</span>ing stupid.
</p>
        <p>
    I find it <span data-pun="Mom">mom</span>strous
    how you guys refer to your mothers.
</p>
        <p>
    I have to <span data-pun="Suspenders">suspenders</span>
    my disbelief about what you call braces.
</p>
        <p>
    Hearing the American word for a flat makes me feel like I’ve been cast in play,
    given <span data-pun="Apartment">a part meant</span> for someone else.
</p>
        <p>
    If I have to hear one more American person use the wrong word for football
    I’m going to climb up the Statue of Liberty and
    <span data-pun="Soccer">sock her in the mouth.</span>
        </p>
        <p>
    Usually it feels like the distance between our languages is only an inch,
    but your word for garden makes it feel more like we’re
    <span data-pun="Yard">yard</span>s apart.
</p>
        <p>
    But it’s not just that you have different words for things, I’ve lived here for
    over a year and I still can’t
    figu<span data-pun="Route">re out</span> why
    you pronounce route so wrong. It’s also hard to
    <span data-pun="Z">zee</span> why you can’t
    say the last letter of the alphabet properly.
</p>
        <p>
    And the worst thing of all is how you simply just take the letter U out of so
    many words. There’s no U in colour, honour, favour, humour, labour or neighbour.
    But honey, I promise I will always put the U in I love you.
</p>

      </article>
    </div>
