@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

.hover\:mt-2px:hover {
  margin-top: 2px;
}

.bg-black-alpha-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.bg-black-alpha-75 {
  background-color: rgba(0, 0, 0, 0.75);
}

img {
  color: transparent;
}

span[data-pun] {
  @apply font-bold text-nord9 border-nord8 border-b-2;
}
