---
layout: layouts/base.njk
---

{% import "components/buttons.njk" as buttons %}

<header class="bg-brand text-white py-8 md:py-16 px-4 text-center">
  <h1 class="text-5xl md:text-6xl font-serif">matthew tole</h1>
  <div class="text-xl max-w-xl mx-auto leading-tight">
    <p>English web developer based in Seattle.</p>
  </div>
  <div class="flex flex-col md:flex-row justify-center p-8">
    {{ buttons.cta("RESUME", "/resume/", "mx-2") }}
    <div class="py-2 md:hidden"></div>
    {{ buttons.cta("PROJECTS", "/projects/", "mx-2") }}
    <div class="py-2 md:hidden"></div>
    {{ buttons.cta("GITHUB", "https://github.com/matthewtole", "mx-2") }}
  </div>
</header>

{% include "instagram.njk" %}
