---
layout: layouts/base.njk
---

{% import "components/buttons.njk" as buttons %}

<header class="relative px-4 py-8 text-center text-nord0 bg-nord4 md:py-16">
  <h1 class="font-serif text-5xl md:text-6xl">matthew tole</h1>
  <div class="max-w-xl mx-auto text-xl leading-tight">
    <p>English web developer based in Seattle.</p>
  </div>
  <div class="flex flex-col justify-center p-8 md:flex-row">
    {{ buttons.cta("RESUME", "/resume/", "mx-2") }}
    <div class="py-2 md:hidden"></div>
    {{ buttons.cta("PROJECTS", "/projects/", "mx-2") }}

    <div class="py-2 md:hidden"></div>
    {{ buttons.cta("GITHUB", "https://github.com/matthewtole", "mx-2") }}
  </div>

  <div class="absolute bottom-0 left-0 right-0 flex items-end overflow-hidden cotent-center">
    {% for i in range(0, 200) -%}
      <div class="flex-none w-4 border-t-2 bg-nord6 border-nord5" style="height: {{ functions.randomBetween(0, 25) }}px"></div>
    {%- endfor %}
  </div>
</header>

<div class="max-w-6xl p-2 mx-auto">

  {% include "instagram.njk" %}

  <h2 class="m-2 font-serif text-2xl">
    <a href="https://github.com/matthewtole/matthewtole.com" class="hover:underline">Recent Website Commits</a>
  </h2>

  <ul class="p-2">
    {%- for commit in commits | limit(5) -%}
      <li class="flex items-center mb-2">
        <div class="flex items-center justify-center w-12 h-12 mr-2 text-2xl">
          <span>{{commit.commit.message | getEmoji | emojify}}</span>
        </div>
        <div class="flex flex-col leading-tight">
          <a href="{{commit.html_url}}" class="hover:underline">{{commit.commit.message | removeEmoji | emojify | firstLine}}</a>
          <p class="text-xs text-nord3">{{commit.commit.committer.date | parseDate | formatDate('yyy/MM/dd HH:mm')}}</p>
        </div>
      </li>
    {%- endfor -%}
  </ul>

</div>