---
layout: layouts/base.njk
---

{% import "components/buttons.njk" as buttons %}

<header class="px-4 py-8 text-center text-white bg-brand md:py-16 bg-hero-death-star">
  <h1 class="font-serif text-5xl md:text-6xl">matthew tole</h1>
  <div class="max-w-xl mx-auto text-xl leading-tight">
    <p>English web developer based in Seattle.</p>
  </div>
  <div class="flex flex-col justify-center p-8 md:flex-row">
    {{ buttons.cta("RESUME", "/resume/", "mx-2") }}
    <div class="py-2 md:hidden"></div>
    {{ buttons.cta("PROJECTS", "/projects/", "mx-2") }}

    <div class="py-2 md:hidden"></div>
    {{ buttons.cta("GITHUB", "https://github.com/matthewtole", "mx-2") }}
  </div>
</header>

{% include "instagram.njk" %}