---
layout: layouts/page.njk
title: Projects
---

{% import "components/projects.njk" as projects %}

<div class="max-w-3xl mx-auto px-4 mb-4">

  <h2 class="font-serif text-2xl my-4">Projects</h2>

  <p>Here are a few of the things I have worked on over the past few years.</p>

  <h3 class="font-serif text-xl my-2">Websites</h3>

  <div class="flex flex-wrap -m-1">
    <div class="w-full md:w-1/3 p-1 border-2 hover:border-cta border-white">
      <a
        class="aspect-wide relative block shadow"
        href="https://wedding.tole.family"
      >
        <img
          src="/static/images/projects/kathew.png"
          class="absolute top-0 left-0 w-full h-full object-cover"
        />
      </a>
    </div>

    <div class="w-full md:w-1/3 p-1 border-2 hover:border-cta border-white">
      <a
        class="aspect-wide relative block shadow"
        href="https://katherinetole.com"
      >
        <img
          src="/static/images/projects/katherinetole.png"
          class="absolute top-0 left-0 w-full h-full object-cover"
        />
      </a>
    </div>

    <div class="w-full md:w-1/3 p-1 border-2 hover:border-cta border-white">
      <a
        class="aspect-wide relative block shadow "
        href="https://jeffh.me"
      >
        <img
          src="/static/images/projects/jeffh.png"
          class="absolute top-0 left-0 w-full h-full object-cover"
        />
      </a>
    </div>

    <div class="w-full md:w-1/3 p-1 border-2 hover:border-cta border-white">
      <a
        class="aspect-wide relative block shadow"
        href="https://matthewtole.com"
      >
        <img
          src="/static/images/projects/matthewtole.png"
          class="absolute top-0 left-0 w-full h-full object-cover"
        />
      </a>
    </div>

    <div class="w-full md:w-1/3 p-1 border-2 hover:border-cta border-white">
      <a
        class="aspect-wide relative block shadow"
        href="https://catandjoe.wedding"
      >
        <img
          src="/static/images/projects/catandjoe.png"
          class="absolute top-0 left-0 w-full h-full object-cover"
        />
      </a>
    </div>
  </div>

  {# <h3 class="font-serif text-xl my-2">Electronics</h3>

  <div class="flex flex-wrap -m-1">
    <div class="w-full md:w-1/3 p-1 border-2 hover:border-cta border-white">
      <a
        class="aspect-wide relative block shadow"
        href="/projects/empire-uncut/"
      >
        <img
          src="/static/images/projects/cat-bathroom.png"
          class="absolute top-0 left-0 w-full h-full object-cover"
        />
      </a>
    </div>

    <div class="w-full md:w-1/3 p-1 border-2 hover:border-cta border-white">
      <a
        class="aspect-wide relative block shadow"
        href="/projects/empire-uncut/"
      >
        <img
          src="/static/images/projects/led-backpack.png"
          class="absolute top-0 left-0 w-full h-full object-cover"
        />
      </a>
    </div>
  </div> #}

  <h3 class="font-serif text-xl my-2">Miscelleanous</h3>

  <div class="flex flex-wrap -m-1">
    <div class="w-full md:w-1/3 p-1 border-2 hover:border-cta border-white">
      <a
        class="aspect-wide relative block shadow"
        href="/projects/empire-uncut/"
      >
        <img
          src="/static/images/projects/empire-uncut.png"
          class="absolute top-0 left-0 w-full h-full object-cover"
        />
      </a>
    </div>

    <div class="w-full md:w-1/3 p-1 border-2 hover:border-cta border-white">
      <a
        class="aspect-wide relative block shadow"
        href="/projects/puns/"
      >
        <img
          src="/static/images/projects/puns.png"
          class="absolute top-0 left-0 w-full h-full object-cover"
        />
      </a>
    </div>
  </div>
{#
    {{ projects.info_start("wedding.tole.family", "kathew.png") }}
    {{ projects.info_end() }}

    {{ projects.info_start("catandjoe.wedding", "catandjoe.png") }}
    {{ projects.info_end() }}

    {{ projects.info_start("katherinetole.com", "katherinetole.png") }}

    {{ projects.info_end() }}

    {{ projects.info_start("matthewtole.com", "matthewtole.png") }}

    {{ projects.info_end() }}

    {{ projects.info_start("jeffh.me", "jeffh.png") }}

    {{ projects.info_end() }} #}

</div>

{# <div class="flex flex-col xl:flex-row p-2">
  <section class="xl:w-1/3 p-2">
    <h2 class="text-2xl text-center p-2 bg-brand-light font-serif">
      websites
    </h2>
    {{ projects.info_start("wedding.tole.family", "kathew.png") }}
      <p class="mb-2">
          Katherine and I got married in June 2017 in Mountain View, California.
      </p>
      <p class="mb-2">
        I designed and built a website to serve as a save the date, as well as
        a living FAQ for the day.
      </p>
    {{ projects.info_end() }}

    {{ projects.separator() }}

    {{ projects.info_start("catandjoe.wedding", "catandjoe.png") }}
      <p class="mb-2">When my best friend asked me to make the website for her wedding, how could I refuse?</p>
      <p class="mb-2">We worked together on the design, integrating the color scheme and floral elements from her invitations into to the site.</p>

      <div class="text-xs mt-1">
        <span class="bg-cta-light p-1 inline-block mr-1 rounded-sm">netlify</span>
      </div>
    {{ projects.info_end() }}

    {{ projects.separator() }}

    {{ projects.info_start("katherinetole.com", "katherinetole.png") }}
      <div class="text-xs mt-1">
        <span class="bg-cta-light p-1 inline-block mr-1 rounded-sm">netlify</span>
      </div>
    {{ projects.info_end() }}

    {{ projects.separator() }}

    {{ projects.info_start("matthewtole.com", "matthewtole.png") }}
      <div class="text-xs mt-1">
        <span class="bg-cta-light p-1 inline-block mr-1 rounded-sm">tailwind</span>
        <span class="bg-cta-light p-1 inline-block mr-1 rounded-sm">11ty</span>
        <span class="bg-cta-light p-1 inline-block mr-1 rounded-sm">netlify</span>
      </div>
    {{ projects.info_end() }}

    {{ projects.separator() }}

    {{ projects.info_start("jeffh.me", "jeffh.png") }}
      <div class="text-xs mt-1">
        <span class="bg-cta-light p-1 inline-block mr-1 rounded-sm">tailwind</span>
        <span class="bg-cta-light p-1 inline-block mr-1 rounded-sm">11ty</span>
        <span class="bg-cta-light p-1 inline-block mr-1 rounded-sm">netlify</span>
      </div>
    {{ projects.info_end() }}
  </section>

  <section class="xl:w-1/3 p-2">
    <h2 class="text-2xl text-center p-2 bg-brand-light font-serif">
      hardware
    </h2>
    {{ projects.info_start("Cat Bathroom", "") }}
    {{ projects.info_end() }}

    {{ projects.separator() }}

    {{ projects.info_start("LED Liquor Backpack", "") }}
    {{ projects.info_end() }}
  </section>

  <section class="xl:w-1/3 p-2">
    <h2 class="text-2xl text-center p-2 bg-brand-light font-serif">
      other
    </h2>

    {{ projects.info_start("Empire Uncut", "empire-uncut.png") }}
    <a href="/projects/empire-uncut/">More Information</a>
    {{ projects.info_end() }}

    {{ projects.separator() }}

    {{ projects.info_start("Puns", "") }}
    {{ projects.info_end() }}


  </section>
</div> #}
