---
layout: layouts/page.njk
title: Projects
---

{% import "components/projects.njk" as projects %}

<div class="flex flex-col xl:flex-row p-2">
  <section class="xl:w-1/3 p-2">
    <h2 class="text-2xl text-center p-2 bg-brand-light font-serif">
      websites
    </h2>
    {{ projects.info_start("wedding.tole.family", "kathew.png") }}
      <p class="leading-tight text-sm mb-2">
          Katherine and I got married in June 2017 in Mountain View, California.
      </p>
      <p class="leading-tight text-sm">
        I designed and built a website to serve as a save the date, as well as
        a living FAQ for the day.
      </p>
    {{ projects.info_end() }}

    {{ projects.separator() }}

    {{ projects.info_start("catandjoe.wedding", "catandjoe.png") }}
    {{ projects.info_end() }}

    {{ projects.separator() }}

    {{ projects.info_start("katherinetole.com", "katherinetole.png") }}
    {{ projects.info_end() }}

    {{ projects.separator() }}

    {{ projects.info_start("matthewtole.com", "") }}
    {{ projects.info_end() }}

    {{ projects.separator() }}

    {{ projects.info_start("jeffh.me", "jeffh.png") }}
    {{ projects.info_end() }}
  </section>

  <section class="xl:w-1/3 p-2">
    <h2 class="text-2xl text-center p-2 bg-brand-light font-serif">
      hardware
    </h2>
    {{ projects.info_start("Cat Bathroom", "") }}
    {{ projects.info_end() }}

    {{ projects.separator() }}

    {{ projects.info_start("LED Liquor Backpack", "") }}
    {{ projects.info_end() }}
  </section>

  <section class="xl:w-1/3 p-2">
    <h2 class="text-2xl text-center p-2 bg-brand-light font-serif">
      other
    </h2>

    {{ projects.info_start("Empire Uncut", "") }}
    {{ projects.info_end() }}

    {{ projects.separator() }}

    {{ projects.info_start("Puns", "") }}
    {{ projects.info_end() }}


  </section>
</div>
