---
layout: layouts/page.njk
title: Resume
---

{% import 'components/resume.njk' as resume %}

<div class="max-w-3xl mx-auto">
  <div class="md:border-l-2 border-gray-700">
    <div class="py-4"></div>

    {{ resume.year("2019") }}

    <div class="px-4 my-4">
      {{ resume.header("Software Engineer, Dropbox", "Seattle - June 2017 - Present") }}

      <p class="mb-2">I have spent my time at Dropbox focussing on the web, building out high value new features
        for our
        customers, as well as spending time on refactoring to reduce code debt, pursuing aggressive performance targets,
        pushing for improved test coverage, and performing vital maintenance work on our front end code.</p>
      <p>I am a “squad leader”, a role which covers sprint planning, backlog grooming and reporting to the
        team leadership on behalf of my squad of seven engineers. I have mentored new members of the team and I spent
        the
        summer of 2018 mentoring an intern, working with him to ship a high visibility project on time.</p>
    </div>

    {{ resume.year("2017") }}

    <div class="px-4 my-4">
      {{ resume.header("Software Engineer, Fitbit", "San Francisco - December 2016 - June 2017") }}

      <p>After Fitbit acquired Pebble, I was responsible for planning and overseeing the end of life process for the
        existing Pebble web services. I also worked on designing the architecture for the new Fitbit appstore.</p>
    </div>

    {{ resume.year("2016") }}

    <div class="px-4 my-4">
      {{ resume.header("Web Developer, Pebble", "Redwood City — May 2014 - December 2016") }}

      <p>
        During my 2.5 years at Pebble, I worked on a variety of projects, including rebuilding the developer website
        from
        the ground up, designing and writing new features for our appstore and developer portal, and architecting a
        brand
        new analytics pipeline to build the groundwork for new health data based products.</p>
      </p>
    </div>

    {{ resume.year("2014") }}

    <div class="px-4 my-4">
      {{ resume.header("Consultant, Proven Legal Technologies", "London — 2010 - 2014") }}
      <p>
        I designed, built, maintained, and supported an internal web application called The Core, which was responsible
        for all project management, forensic evidence tracking and the billing of clients.
      </p>
    </div>

    {{ resume.year("2010") }}

    <div class="px-4 my-4">
      {{ resume.header("MSc Computer Forensics", "De Montfort University — 2009 - 2012") }}
      <p>I learned the fundamentals of digital forensics and network security, including taking a forensic images of a
        variety
        of data sources, and the processes and methodologies of forensic analysis.</p>
    </div>

    {{ resume.year("2009") }}

    <div class="px-4 my-4">
      {{ resume.header("BEng Computer Science", "The University of York — 2005 - 2009") }}
      <p>This course provided me with an extensive understanding of a wide range of topics in computer science, from
        digital
        electronics through to operating system design.
      </p>
    </div>

    {{ resume.year("2005") }}

    <div class="py-8"></div>
  </div>
</div>
