---
title: Matthew Tole
---
<header>
    <h1>Matthew Tole</h1>
</header>

<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="leader">
                    I am a <a href="https://github.com/matthewtole" target="_blank" rel="nofollow">software developer</a>
                    based in Redwood City, California.
                </p>
                <p class="leader">
                    I currently work for <a href="https://fitbit.com/" target="_blank" rel="nofollow">Fitbit</a>.
                </p>
                <p class="leader">
                    I am passionate about <a href="/puns/">puns</a>, movies, papercraft and cooking.
                </p>
                <p class="leader">
                    I occasionally write things in my <a href="/blog/">blog</a> and on <a href="https://twitter.com/matthewtole" target="_blank" rel="nofollow">Twitter</a>.
                </p>
            </div>
        </div>
    </div>
</section>
