---
title: Matthew Tole
---
    <div class="intro">
        <p>
            Hello there!
            My name is <a href="mailto:matthew@matthewtole.com" data-tooltip title="Email Me">Matthew Tole</a>.
        </p>
        <p>
            I am a <a href="https://github.com/matthewtole" target="_blank" data-tooltip title="Github Profile">software developer</a>
            based in Redwood City, California.
            I currently work for <a href="https://fitbit.com/" target="_blank">Fitbit</a>.
        </p>
        <p>
            I am passionate about <a href="/puns/">puns</a>,
            movies, papercraft and cooking.
        </p>
        <p>
            I occasionally write things in my <a href="/blog/">blog</a>
            and on <a href="https://twitter.com/matthewtole" target="_blank">Twitter</a>.
        </p>
    </div>
