:root {
  --font-size-sm: clamp(0.5rem, 0.31vw + 0.5rem, 0.75rem);
  --font-size-base: clamp(0.63rem, 0.47vw + 0.62rem, 1rem);
  --font-size-md: clamp(0.78rem, 0.69vw + 0.78rem, 1.33rem);
  --font-size-lg: clamp(0.98rem, 1vw + 0.97rem, 1.78rem);
  --font-size-xl: clamp(1.22rem, 1.44vw + 1.22rem, 2.37rem);
  --font-size-xxl: clamp(1.53rem, 2.05vw + 1.52rem, 3.16rem);
  --font-size-xxxl: clamp(1.91rem, 2.89vw + 1.9rem, 4.21rem);
  --font-family: -apple-system, system-ui, sans-serif;
  --font-family-monospace: consolas, menlo, monaco, andale mono wt, andale mono,
    lucida console, lucida sans typewriter, dejavu sans mono,
    bitstream vera sans mono, liberation mono, nimbus mono l, courier new,
    courier, monospace;
  --color-hero-bg: #ffb86c;
  --color-hero-fg: #282a36;
}

* {
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: var(--font-size-base);
  font-family: var(--font-family);
}
