---
layout: layouts/page.njk
title: Projects
---

{% import "components/projects.njk" as projects %}
{% import "components/modal.njk" as modal %}

<div class="max-w-3xl mx-auto px-4 mb-4">

  <h2 class="font-serif text-2xl my-4">Projects</h2>

  <p>Here are a few of the things I have worked on over the past few years.</p>

  <h3 class="font-serif text-xl my-2">Websites</h3>

  <div class="flex flex-wrap -m-1">
    {{ projects.tile_modal("kathew", "https://wedding.tole.family") }}
    {{ projects.tile_modal("matthewtole", "https://matthewtole.com") }}
    {{ projects.tile_modal("catandjoe", "https://catandjoe.wedding") }}
    {{ projects.tile_modal("jeffh", "https://jeffh.me") }}
    {{ projects.tile_modal("katherinetole", "https://katherinetole.com") }}
    {{ projects.tile_modal("lushmouthfeel", "https://lushmouthfeel.com") }}
  </div>

  <h3 class="font-serif text-xl my-2">Miscelleanous</h3>

  <div class="flex flex-wrap -m-1">
    {{ projects.tile_link("empire-uncut") }}
    {{ projects.tile_link("puns") }}
  </div>
</div>

<div class="fixed inset-0 flex justify-center items-center z-50 hidden js-modal-container" data-modal="projects">
  <div class="bg-white shadow rounded w-full sm:w-1/2 lg:w-1/3 p-8 relative">
    {{ modal.close_button() }}

    <div class="hidden js-modal-content" data-modal-content="projects/kathew">
      {{ projects.modal_header("kathew", "katherineandmatthew.wedding", "https://wedding.tole.family") }}
      
      <p class="mb-2">This is the site that I built and designed for my Star Wars/Star Trek themed wedding to Katherine in June 2017.</p>
      <p class="mb-2">It was built using Jekyll and was originally hosted on Github Pages, but is now on Netlify.</p>
    </div>

    <div class="hidden js-modal-content" data-modal-content="projects/katherinetole">
      {{ projects.modal_header("katherinetole", "katherinetole.com", "https://katherinetole.com") }}
      <p class="mb-2"></p>
      <p class="mb-2">It was built using Gatsby and Bulma, and is hosted on Netlify.</p>
    </div>

    <div class="hidden js-modal-content" data-modal-content="projects/matthewtole">
      {{ projects.modal_header("matthewtole", "matthewtole.com", "https://matthewtole.com") }}
    </div>
    
    <div class="hidden js-modal-content" data-modal-content="projects/lushmouthfeel">
      {{ projects.modal_header("lushmouthfeel", "lushmouthfeel.com", "https://lushmouthfeel.com") }}
    </div>
    
    <div class="hidden js-modal-content" data-modal-content="projects/jeffh">
      {{ projects.modal_header("jeffh", "jeffh.me", "https://jeffh.me") }}
    </div>
    
    <div class="hidden js-modal-content" data-modal-content="projects/catandjoe">
      {{ projects.modal_header("catandjoe", "catandjoe.wedding", "https://catandjoe.wedding") }}
    </div>
  </div>
</div>
